@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  font-weight: 400;
  background-color: #ffdf8c;
  padding-top: 50px;
}

.root {
  border-radius: 20px;
}
.container {
  width: 1340px;
  padding: 0 50px;
  margin: 0 auto;
  background-color: white;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid #eee;
}
.nav-end-box {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.nav-start-box {
  display: flex;
  align-items: center;
}
.uzs {
  color: #fff;
  padding-right: 5px;
  margin-right: 8px;
  border-right: 1px solid #eee;
}

.btns {
  background: #fe5f1e;
  border-radius: 30px;
  padding: 14px 26px;
  border: none;
}
.zero {
  color: #fff;
  margin-left: 8px;
}
.input {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 400px;
  padding: 13px 0 13px 43px;
  background-image: url(./assets/icons/lupa.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 175px);
  margin-right: 210px;
}
.top-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  width: 290px;
  padding: 10px 20px;
  height: 400px;
  margin-bottom: 20px;
  border: none;
  box-shadow: 5px 2px 30px rgba(210, 208, 215, 0.3);
  border-radius: 10px;
}
.card-body {
  height: 100%;
  padding: 0;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: 5px 2px 30px rgba(153, 153, 153, 0.3);
}
.bottom-box {
  display: flex;
  height: calc(100% - 210px);
  flex-direction: column;
}
.image {
  width: 100% !important;
  border-radius: 6px;
  transform: scale(1.1);
}
.img-box {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
}
.card-title {
  margin-top: 20px;
  font-weight: 400;
  font-size: 19px;
  line-height: 17px;
  color: #000000;
}
.card-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #828282;
}
.price {
  background: #ebebeb;
  border-radius: 7px;
  padding: 3px 8px;
  margin-top: auto;
  width: fit-content;
}
.top-top-box {
  padding: 40px 0 50px 0;
}
.barchasi {
  padding: 13px 30px;
  color: #000;
  background: #f9f9f9;
  border: none;
  border-radius: 30px;
  margin-right: 12px;
  transition: 0.2s ease-in;
}
.barchasi:hover {
  color: #fff;
  background-color: #000;
}
.main-title {
  font-weight: 800;
  font-size: 38px;
  line-height: 30px;
  color: #232323;
  margin-bottom: 50px;
}

.site-header {
  border-radius: 25px 25px 0 0;
}
.main-box {
  border-radius: 0 0 25px 25px;
  margin-bottom: 40px;
}

.top-box {
  padding-bottom: 20px;
}
.active {
  padding: 13px 30px;
  color: #f9f9f9;
  background: #000;
  border: none;
  border-radius: 30px;
  margin-right: 12px;
  transition: 0.2s ease-in;
}

.hero-wrapper {
  border-radius: 0 0 25px 25px;
}

.pizzabek {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: -5px;
}
.eng_mazali {
  margin: 0;
}
.modalStyle {
  width: 800px !important;
}

.ant-modal-content {
  border-radius: 32px !important;
}

.ant-btn {
  display: none !important;
}

.ant-modal-close-x {
  display: none !important;
}
.close-box {
  padding: 10px;
  display: inline-block;
}
.close-box:hover {
  width: fit-content;
  background-color: #d4d4d4;
  border-radius: 10px;
}

.img-boxx {
  width: 400px;
  height: 400px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-boxx > img {
  width: 590px;
  animation: animcha infinite 25s linear;
}
.img-boxx > img:hover {
  animation-play-state: paused;
}

@keyframes animcha {
  /* 0% {
    transform: rotate(0deg);
  } */
  100% {
    transform: rotate(360deg);
  }
}

.modalni-biri {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  gap: 30px;
}

.modalni-ikkisi > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #000000;
}

.modalni-ikkisi > button {
  background: #006f4c;
  border-radius: 100px;
  border-radius: 30px;
  padding: 20px;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.onePizzaDesc {
  width: 320px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #828282;
  margin-bottom: 52px;
}

.big_pizza {
  font-weight: 700;
  font-size: 18.72px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 5px;
}

.inc_dec_pizza {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f4f4f4;
  border: 1px solid #f4f4f4;
  border-radius: 100px;
  padding: 4px;
  margin-bottom: 10px;
}

.incremen {
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 100px;
  padding: 6px 20px;
  border: none;
}

.count-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 0;
}

.pizza-xamir {
  padding: 4px 41px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  border: none;
}

.price-box{
  display: flex;
  align-items: center;
}

